#### Importing Neccessary Libraries

In [1]:
import pandas as pd

##### Load Data

In [20]:
data = pd.read_csv("PJME_hourly.csv")

                   Datetime  PJME_MW
0       2002-12-31 01:00:00  26498.0
1       2002-12-31 02:00:00  25147.0
2       2002-12-31 03:00:00  24574.0
3       2002-12-31 04:00:00  24393.0
4       2002-12-31 05:00:00  24860.0
...                     ...      ...
145361  2018-01-01 20:00:00  44284.0
145362  2018-01-01 21:00:00  43751.0
145363  2018-01-01 22:00:00  42402.0
145364  2018-01-01 23:00:00  40164.0
145365  2018-01-02 00:00:00  38608.0

[145366 rows x 2 columns]

In [1]:
def length_of_longest_substring(s: str) -> int:
    p_1 = 1
    for i in range(len(s)):
        if s[p_1] != s[i]:
            s[p_1] = s[i]
            p_1 += 1
    return 1

In [9]:
def length_of_longest_substring(s: str) -> int:
    r = 0
    lenght = 0
    seen_charaters = set()

    for i in range(len(s)):
        while s[i] in seen_charaters:
            seen_charaters.remove(s[r])
            r += 1
        seen_charaters.add(s[i])
        lenght = max(lenght, i - r + 1)
    return lenght

In [10]:
print(length_of_longest_substring("abcabcbb"))

3

In [4]:
# Using curly braces
my_set = {1, 2, 3, 4, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

{1, 2, 3, 4, 5}
set()